.u-p__left-m {
    padding-left: $size-m;
}
.u-fs-l {
    font-size: $size-l;
}
.u-fs-m {
    font-size: $size-m;
}
.u-pb-3rem {
    padding-bottom: 3rem;
}
.u-ptb-xl {
    padding: $size-xl 0;
}
.u-ta-c {
    text-align: center;
}
.u-tt-up {
    text-transform: uppercase;
}