/* Colors */

$color-primary: #1e5d69;
$color-secondary: #f6f6f6;
$color-white: #fff;
$color-blue-lighter: #2d4e54;
$color-blue-dark: #1b373c;
$color-turquoise: #0093af;
$color-gray-border: #808080;
$color-hover: #302b2a;

/* Sizes */

$screen-laptop: 1024px;
$screen-tablet: 768px;
$screen-phone: 480px;

/* Rem sizes */

$size-xs: .7rem;
$size-s: .8rem;
$size-m: 1rem;
$size-l: 1.2rem;
$size-xl: 1.5rem;
$size-xxl: 2rem;
$size-xxxl: 4rem;